<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Todo List</title>

    <link rel="stylesheet" href="/index.css" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Montserrat&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/363aabaf4d.js" crossorigin="anonymous"></script>
</head>
<body>
    <div class="topContainer">
        <div class="todo-container">
            <h2>To-do list</h2>
            <div class="pagination-links">
                <a href="http://localhost:3000/about"><span>About</span></a>
                <a href="http://localhost:3000/?page=<%= Number(page) - 1 %>"><span>Previous page</span></a>
                <a href="http://localhost:3000/?page=<%= Number(page) + 1 %>"><span>Next page</span></a>
            </div>
            <div class="todo">

                <form action="/" method="POST" class="todo-header">
                    <input type="text" name="content" placeholder="New task here">
                    <button type="submit"><span class="fas fa-plus"></span></button>
                </form>
                <ul class="todo-list">
                        <% todoTasks.forEach(details => { %>
                    <li class="todo-list-item">
                        <div class="todo-list-item-name"><%= details.content %></div>
                        <div class="icons-container">
                            <a href="/edit/<%= details._id %>" class="edit">
                                <span class="fas fa-user-edit"></span>
                            </a>
                            <a href="/remove/<%= details._id %>" class="remove">
                                <span class="fas fa-skull skull"></span>
                            </a>
                        </div>
                    </li>
                    <% }) %>
                </ul>
            </div>
        </div>
    </div>
</body>
</html>